.yellow-bg {
  /* box-sizing: border-box; */
  background-color: #ffffcc;
  border-left: none;
  margin-top: 24px;
  margin-bottom: 24px;
  /* margin-left: -32px;
  margin-right: -32px; */
  padding: 16px 32px;
}
